<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Booking Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Patient Id</th>
        <th>Appointment Date</th>
        <th>Status</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
      {% for i in a %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.pid}}</td>
        <td>{{i.bdate}}</td>
        <td>{{i.status}}</td>
        <td>
          <a href="/payment/">
          <input type="submit" value="Pay Now" ></td>
        </a>
        <td>
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html> -->
